<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

		

	<nav class="navbar navbar-fixed">
		<nav class="navbar navbar-inverse">
		<div class="collapse navbar-collapse">
		
				<div class="navbar-inner">
					<div class="container">
						<a href="#" class="brand"><h1><i><b>Treebook</b></i></h1></a>
						<ul class="nav">
							<li><%= link_to "All Statuses", statuses_path %></li>


					</div>
				</div>

		</div>
		</nav>	
	</nav>
		

		<div class="container">
			<p class="notice"><%= notice %></p>
       		<p class="alert"><%= alert %></p>
			<div class="row">

			</div>
			<%= yield %>
		</div>

</body>
</html>
